
<h1>Vertical Tabs: Smart & Responsive</h1>
<section>
  <h4 class="active">Who?</h4>
  <ul>
    <li>Nam de isto magna dissensio est.</li>
    <li>Quis istud possit, inquit, negare?</li>
    <li>Quod mihi quidem visus est, cum sciret, velle tamen confitentem audire Torquatum.</li>
    <li>Sic enim censent, oportunitatis esse beate vivere.</li>
    <li>Nam de isto magna dissensio est.</li>
    <li>Quis istud possit, inquit, negare?</li>
    <li>Quod mihi quidem visus est, cum sciret, velle tamen confitentem audire Torquatum.</li>
    <li>Sic enim censent, oportunitatis esse beate vivere.</li>
    <li>I need to fix this... "section" should wrap around the "ul"</li>
  </ul>
  <h4>What?</h4>
  <ul>
    <li>Potius inflammat, ut coercendi magis quam dedocendi esse videantur.</li>
    <li>Atqui reperies, inquit, in hoc quidem pertinacem;</li>
    <li>Verba tu fingas et ea dicas, quae non sentias?</li>
  </ul>
  <h4>Where?</h4>
  <ul>
    <li>Qui autem de summo bono dissentit de tota philosophiae ratione dissentit.</li>
    <li>Sed quanta sit alias, nunc tantum possitne esse tanta.</li>
    <li>An est aliquid per se ipsum flagitiosum, etiamsi nulla comitetur infamia?</li>
  </ul>
  <h4>Where?</h4>
  <ul>
    <li>Omnes enim iucundum motum, quo sensus hilaretur.</li>
    <li>Oratio me istius philosophi non offendit;</li>
    <li>Ut pulsi recurrant?</li>
    <li>Cur fortior sit, si illud, quod tute concedis, asperum et vix ferendum putabit?</li>
  </ul>
  <h4>Why?</h4>
  <ul>
    <li>Et ille ridens: Video, inquit, quid agas;</li>
    <li>Sed tu istuc dixti bene Latine, parum plane.</li>
    <li>Eorum enim omnium multa praetermittentium, dum eligant aliquid, quod sequantur, quasi curta sententia;</li>
  </ul>
</section>